* {
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background: rgb(187, 187, 245);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    width: 350px;
    height: 500px;
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
}
.inner-box {
    position: relative;
    width: 100%;
    height: 100%;
}
.card-front {
    position: absolute;
    width: 130%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 85, 100, 0.8), rgba(100, 57, 0, 0.8)),url(images/logo.png);
    padding: 55px;
    box-sizing: border-box;
}
.card h2 {
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}
.input-box {
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    margin: 6px 0;
    height: 32px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #fff;
}
button {
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    margin: 35px 0 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 45px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    cursor: pointer;
}
.submit-btn {
    position: relative;
    font-style: normal;
    font-weight: 200;
}
.submit-btn::after {
    color: black;
}
